/* assets/css/about-me.css */
#about-me {
    border-top: 1px solid #000000; /* Line at the top */
    border-bottom: 1px solid #000000; /* Line at the bottom */
}
.about-me-container{
    margin-left: 10%;
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
} 
/* assets/css/about-me.css */
#about-me img {
    margin-right: 4em;
    width: 200px; /* Set the width as desired */
    height: 200px; /* Set the height as desired */
    object-fit: cover; /* This will cover the area without stretching the image */
    /* Add other styles if needed, like border-radius for rounded corners */
}
  

#about-me .content h1 {
font-size: 1.5em;
}

#about-me .content .position,
#about-me .content .address,
#about-me .content .additional-info {
margin: 0.5em 0;
font-size: 1em;
line-height: 1.4;
}

#about-me .content .additional-info a {
color: #0056b3;
text-decoration: none;
}

#about-me .content .additional-info a:hover {
text-decoration: underline;
}

/* You may need to adjust the media query breakpoint to suit your layout */
@media (max-width: 768px) {
#about-me {
    flex-direction: column;
    align-items: flex-start;
}

#about-me img {
    margin-bottom: 1em;
}
}
