/* assets/css/projects.css */

.projects-container{
  max-width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
}

.project-container:hover {
  transform: translateY(-2px); /* Slightly raise the item on hover for a more pronounced 3D effect */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Make the shadow deeper on hover */
}

.project-container{
  border-radius: 5px;
  border: 1px solid #8a8a8a; /* Optional separator */
  margin-bottom: 1em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Adjust the color and spread as needed */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.project-item {
  display: flex;
  margin: 1em;
  
}

.project-image {
  flex-shrink: 0; /* Prevent the image from shrinking */
  width: 150px; /* Set your desired width */
  height: 100px; /* Set your desired height */
  margin-right: 20px; /* Add some space between the image and the details */
  object-fit: cover; /* Ensures the image covers the area, could also be 'contain' depending on your needs */
  border-radius: 4px; /* Optional for rounded corners */
}

.project-details {
  flex-grow: 1;
}

.project-details h3 {
  margin: 0 0 10px 0;
}

.project-details p {
  margin: 0;
}

a {
  color: inherit; /* This will make the link use the color of the parent text */
  text-decoration: none; /* This removes the underline from links, if desired */
}

a:hover, a:visited, a:active {
  color: inherit; /* This ensures the color does not change on hover or when the link is active/visited */
}
